black
codespell
coverage[toml]
cryptography
flake8 ==7.0.0
flake8-copyright
flake8-builtins
flake8-docstrings
isort
jsonschema
juju
mypy
ops
parameterized
pep8-naming
pyproject-flake8
pytest
pytest-operator
types-PyYAML
types-setuptools
types-toml
