black
codespell
coverage[toml]
flake8 ==6.1.0
flake8-copyright
flake8-builtins
flake8-docstrings
isort
juju
mypy
pep8-naming
pyproject-flake8
pytest
pytest-operator
types-PyYAML
types-setuptools
types-toml
